@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");


@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}


/* Base styles */
body {
  background-color: #44166a;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}


h1 {
  font-family: "SF Distant Galaxy";
  color: yellow;
  text-align: center;
  margin: 20px 0;
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}


nav div {
  margin: 10px;
}


a {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}


a:hover {
  text-decoration: underline;
}


div.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/* Mobile */
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    align-items: center;
  }


  nav div {
    margin: 5px 0;
  }


  div.row {
    flex-direction: column;
    align-items: center;
  }
}


/* Desktop */
@media screen and (min-width: 601px) {
  nav {
    flex-direction: row;
    justify-content: space-around;
  }
}


 p{
  color: yellow;
  font-size: 30px;
}

